<div class="container">
  <h1><%= @list.name %></h1>

  <%= render "bookmark", bookmarks: @bookmarks, list: @list %>


  <h3>Add a movie to this watch list</h3>
  <%= render "bookmark_form", list: @list, bookmark: @bookmark %>

  <%= link_to "Back to my lists", root_path %>
</div>
