// Specific CSS for your home-page
.navbar-lewagon {
  padding: 10px 15px;
}

.navbar-lewagon .navbar-brand i {
  font-size: 30px;
  text-align: center;
  color: rgb(118, 7, 7);
}

.avatar {
  width: 60px;
  height: 60px;
  border: 1px solid rgb(118, 7, 7);
}

#banner {
  background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center;
  height: 60vh;
  color: #fff;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#banner-text {
  text-align: center;
}

.card-category {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.card-category a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.container a:hover {
  color: white;
}

.container {
  margin-bottom: 30px;
}

.container h1, h3 {
  color:rgb(118, 7, 7);
  margin-bottom: 15px;
}

.form-container {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 5px;

  .btn-dark {
    display: block;
    margin: 0 auto;
  }
}
